<link rel="apple-touch-icon" sizes="180x180" href="{{ assetsPath }}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ assetsPath }}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ assetsPath }}favicon-16x16.png">
<link rel="manifest" href="{{ assetsPath }}site.webmanifest">
<link rel="mask-icon" href="{{ assetsPath }}safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ assetsPath }}favicon.ico">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="{{ assetsPath }}browserconfig.xml">
<meta name="theme-color" content="#ffffff">
