{%- unless template == 'cart.ajax' -%}
{%- assign lazyload = true -%}
{%- endunless -%}

<div class="cart-items {% unless for_drawer %}overflow-hidden{% else %}scroll-y{% endunless %}" data-items="{{ cart.item_count }}">
  {%- unless for_drawer -%}
  <div class="cart-items-header d-none d-md-flex">
    <span class="cart-items-header-product">{{ 'cart.items.product' | t }}</span>
    <span class="cart-items-header-quantity">{{ 'cart.items.quantity' | t }}</span>
    <span class="cart-items-header-total">{{ 'cart.items.total' | t }}</span>
  </div>
  <hr class="d-none d-md-block">
  {%- endunless -%}

  {%- for line_item in cart.items -%}
  <div class="cart-items-body">
    <div class="cart-item{% unless forloop.last 1 %} mb-3{% endunless %}" data-line="{{ forloop.index }}" data-variant-id="{{ line_item.id }}">
      {% assign product = all_products[line_item.product.handle] %}
      <script data-cart="{{ forloop.index }}" type="text/json">{{ line_item | json }}</script>
      <script data-stock="{{ forloop.index }}" type="text/json">[{% for variant in product.variants %}{"id":{{ variant.id }},"title":"{{ variant.title | escape }}","option1":{% if variant.option1 %}"{{ variant.option1 | escape }}"{% else %}null{% endif %},"option2":{% if variant.option2 %}"{{ variant.option2 | escape }}"{% else %}null{% endif %},"option3":{% if variant.option3 %}"{{ variant.option3 | escape }}"{% else %}null{% endif %},"sku":{% if variant.sku %}"{{ variant.sku | escape }}"{% else %}null{% endif %},"requires_shipping":{{ variant.requires_shipping }},"taxable":{{ variant.taxable }},"featured_image":{% if variant.featured_image %}"{{ variant.featured_image }}"{% else %}null{% endif %},"available":{{ variant.available }},"name":"{{ variant.name }} | escape","public_title":"{{ variant.public_title }} | escape","options":{{ variant.options | json }},"price":{{ variant.price }},"weight":{% if variant.weight %}{{ variant.weight }}{% else %}0{% endif %},"compare_at_price":{% if variant.compare_at_price %}{{ variant.compare_at_price }}{% else %}null{% endif %},"inventory_quantity":{{ variant.inventory_quantity }},"inventory_management":{% if variant.inventory_management %}"{{ variant.inventory_management }}"{% else %}null{% endif %},"inventory_policy":{% if variant.inventory_policy %}"{{ variant.inventory_policy }}"{% else %}null{% endif %},"barcode":{% if variant.barcode %}"{{ variant.barcode }}"{% else %}null{% endif %}}{% unless forloop.last %},{% endunless %}{% endfor %}]</script>
      <div class="row{% if for_drawer %} row-gutx-2{% endif %}">
        <div class="col-image col-auto">
          <div class="tb__image tb__image--1-1 w-84p w-md-100p">
            <div class="tb__image__placeholder">
              <img
                {% if lazyload %}
                class="lazyload"
                src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                data-src="{{ line_item.image | img_url: '85x105' }}"
                {% else %}
                src="{{ line_item.image | img_url: '85x105' }}"
                {% endif %}
                alt="{{ line_item.image.alt | escape }}"
              >
            </div>
          </div>
        </div>
        <div class="col-info col">
          <input
			id="updates_{{ line_item.key }}"
            class="js-cart-item-quantity"
            type="hidden"
            name="updates[]"
            value="{{ line_item.quantity }}"
            data-line="{{ forloop.index }}"
            data-min="1"
		  >
          <h6 class="mb-1"><a href="{{ line_item.url }}">{{ line_item.product.title }}</a></h6>
          <p class="small mb-1">{% for option in line_item.options_with_values %}{{ option.value }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
          <p class="mb-1">{{ line_item.quantity }} x {{ line_item.final_price | money_without_trailing_zeros }}</p>
          <p class="small">
            <a class="font-weight-500 js-cart-item-remove" href="{{ routes.cart_change_url }}?quantity=0&line={{ forloop.index }}" data-id="{{ line_item.product.id }}" data-quantity="0" data-line="{{ forloop.index }}" data-action="remove-item">
              <u>{{ 'cart.items.remove' | t }}</u>
            </a>
          </p>
        </div>
      </div>
	</div>
  </div>
  {%- endfor -%}
</div>
