{% comment %}
-----------------------------
   SETTINGS
-----------------------------
{% endcomment %}

{%- capture image_size -%}
{{- settings.collection-listing__image-width }}x{{ settings.collection-listing__image-height -}}
{%- endcapture -%}
{%- capture image_ratio -%}
{{- settings.collection-listing__image-height }}/{{ settings.collection-listing__image-width -}}
{%- endcapture -%}

<div class="collection">
  <a class="collection-image tb__image mb-3 mb-md-4" href="{{ collection.url }}">
    <figure style="padding-top: calc({{ image_ratio }} * 100%);">
      <img class="lazyload slide-from-bottom" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ collection.image | img_url: image_size }}" data-expand="-50" alt="{{ collection.image.alt | escape }}" />
    </figure>
  </a>
  <h4 class="collection-title h2">
    <a href="{{ collection.url }}">{{ collection.title }}</a>
  </h4>
</div>
