{%- capture randomFile -%}{{ 'app.css' | asset_url }}{%- endcapture -%}
{%- assign assetsPath = randomFile | split: 'app.css' | first -%}
<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <script>if ('ontouchstart' in window || navigator.MaxTouchPoints || navigator.msMaxTouchPoints) { document.documentElement.classList.add('is_touch'); }</script>
    <script>document.querySelector('html').classList.remove('no-js');</script>

    <link rel="canonical" href="{{ canonical_url }}">

    {% render '_head-css', assetsPath: assetsPath %}
    {% render '_head-js', assetsPath: assetsPath %}
    {% render '_head-favicon', assetsPath: assetsPath %}
    {% render 'social-meta-tags' %}

    {{ content_for_header }}

    {% render 'microdata-schema' %}

    {{ settings.header_content_bottom }}
    
  </head>

  <body class="{% if template.directory %} template-{{ template.directory | handle }}{% endif %}template-{{ template.name | handle }}">
    {{ settings.body_content_top }}

    {%- capture announcement-capture -%}
    {% section 'announcement' %}
    {%- endcapture -%}

    {{- announcement-capture
    	| replace: 'top-alert"><!-- disable top bar -->', 'top-alert d-none">'
    -}}

    {%- capture header-capture -%}
    {% section 'header' %}
    {%- endcapture -%}

    {{- header-capture
    	| replace: '<header', '<div class="sticky-sentinel-before"></div> <header'
    	| replace: 'shopify-section header"', 'header" data-toggle="observe"'
    	| replace: 'header" data-toggle="observe"><!--transparent-->', 'header header--overlay" data-toggle="observe">'
    -}}

    {%- capture content-capture -%}
    {{ content_for_layout }}
    {%- endcapture -%}

    {%- capture logoutLink -%}
  	</h3><a href="{{ routes.account_logout_url }}">{{ 'customer.menu.logout' | t }}</a></div><div id="ReCharge-Nav">
    {%- endcapture -%}

    {%- capture additionalLinks -%}
  	<ul id="rc_navigation" class="rc_sidebar__menu nav nav-pills nav-stacked">
      <li class="rc_menu__item">
        <a href="{{ routes.account_url }}">{{ 'customer.menu.orders' | t }}</a>
      </li>
      <li class="rc_menu__item">
        <a href="{{ routes.account_addresses_url }}">{{ 'customer.menu.addresses' | t }}</a>
      </li>
    {%- endcapture -%}

  	{{ content-capture
       | replace: '<ul id="rc_navigation" class="rc_sidebar__menu nav nav-pills nav-stacked">', additionalLinks
       | replace: '<h2 class="rc_customer__name">', '<div class="d-flex flex-wrap align-items-center mb-2 mb-md-3"><h3 class="mr-auto mb-0 font-weight-600">'
       | replace: '</h2>

<div id="ReCharge-Nav">', logoutLink
       | replace: 'rc_modal__', 'modal__'
  	}}

  	{% section 'footer' %}

  	{%- if settings.localization_links != blank -%}
  	{% render 'modal-location' %}
  	{%- endif -%}

  	{% render 'modal-cart' %}
  	{% render '_footer-js' %}
  </body>
</html>
