{%- assign s = section.settings -%}
<div class="row no-gutters">
  <div class="col-md order-{{ s.mobile_order }} order-md-0">
    <div class="tb__banner{% if s.mobile_height != '0' %} hmin-100h {% endif %}">
      {% if s.link_left != blank %}
      <a class="tb__banner__link" href="{{ s.link_left }}"></a>
      {% endif %}
      {% if s.text_left != blank %}
      <div class="tb__banner__text align-items-center justify-content-center">
        {{ s.text_left }}
      </div>
      {% endif %}
      <div class="tb__banner__image tb__image tb__image--1-1{% if s.image_left_position %} tb__image--cover-{{ s.image_left_position }}{% endif %}">
        <picture class="tb__image__placeholder" aria-hidden="true">
          {% if s.image_left_mobile != blank %}
          <source data-srcset="{{ s.image_left_mobile | img_url: '575x1200' }}" media="(max-width: 575px)" />
          {%- endif -%}
          <source data-srcset="{{ s.image_left | img_url: '2000x' }}" media="(min-width: 576px)" />
          <img
            class="lazyload"
            src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
            data-src="{{ s.image_left | img_url: '2000x' }}"
            alt="{{ s.image_left.alt }}"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="tb__banner{% if s.mobile_height != '0' %} hmin-100h {% endif %}">
      {% if s.link_right != blank %}
      <a class="tb__banner__link" href="{{ s.link_right }}"></a>
      {% endif %}
      {% if s.text_right != blank %}
      <div class="tb__banner__text align-items-center justify-content-center">
        {{ s.text_right }}
      </div>
      {% endif %}
      <div class="tb__banner__image tb__image tb__image--1-1{% if s.image_right_position %} tb__image--cover-{{ s.image_right_position }}{% endif %}">
        <picture class="tb__image__placeholder" aria-hidden="true">
          {% if s.image_right_mobile != blank %}
          <source data-srcset="{{ s.image_right_mobile | img_url: '575x1200' }}" media="(max-width: 575px)" />
          {%- endif -%}
          <source data-srcset="{{ s.image_right | img_url: '2000x' }}" media="(min-width: 576px)" />
          <img
            class="lazyload"
            src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
            data-src="{{ s.image_right | img_url: '2000x' }}"
            alt="{{ s.image_right.alt }}"
          />
        </picture>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Simple banner",
  "tag": "section",
  "class": "hero hero--main",
  "settings": [
      {
          "type": "image_picker",
          "id": "image_left",
          "label": "Image Left"
      },
      {
          "type": "image_picker",
          "id": "image_left_mobile",
          "label": "Image Left (mobile)"
      },
      {
          "type": "select",
          "id": "image_left_position",
          "label": "Image Left Inside Position",
          "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ],
            "default": "center"
      },
      {
          "type": "html",
          "id": "text_left",
          "label": "Text Left"
      },
      {
          "type": "url",
          "id": "link_left",
          "label": "Link Left"
      },
      {
          "type": "image_picker",
          "id": "image_right",
          "label": "Image Right"
      },
      {
          "type": "image_picker",
          "id": "image_right_mobile",
          "label": "Image Right (mobile)"
      },
      {
          "type": "select",
          "id": "image_right_position",
          "label": "Image Right Inside Position",
          "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ],
            "default": "center"
      },
      {
          "type": "html",
          "id": "text_right",
          "label": "Text Right"
      },
      {
          "type": "url",
          "id": "link_right",
          "label": "Link Right"
      },
      {
          "type": "select",
          "id": "mobile_order",
          "label": "Mobile Order",
          "options": [
              {
                "value": "0",
                "label": "Left/Right"
              },
              {
                "value": "1",
                "label": "Right/Left"
              }
            ],
            "default": "0"
      },
      {
          "type": "select",
          "id": "mobile_height",
          "label": "Max Mobile Height",
          "options": [
              {
                "value": "0",
                "label": "50% Screen height"
              },
              {
                "value": "1",
                "label": "100% Screen height"
              }
            ],
            "default": "0"
	  }
  ],
  "presets": [
      {
          "name": "Simple banner",
          "category": "banner"
      }
  ]
}
{% endschema %}