{%- assign s = section.settings -%}
<div class="tb__banner{% if s.image-animation %} lazyload appear-opacity appear-slide-in-bottom{% endif %}"{% if s.image-animation %} data-expand="-100"{% endif %}>
  <div class="tb__banner__text tb__banner__text--static justify-content-center px-3 px-md-6 px-lg-8 py-3 py-md-4">
    <div class="container text-center">
      {% if s.title != blank %}
      <h1 class="display-1 mb-0 text-uppercase text-white">{{ s.title }}</h1>
      {%- endif -%}
      {% if s.description != blank %}
      <div class="display-3 mb-4 mb-md-5 text-white">{{ s.description }}</div>
      {%- endif -%}
      {% if s.cta-url != blank %}
      <div class="d-flex flex-wrap justify-content-center mx-n2 mt-n2">
        <a class="btn {{ s.cta-style }} w-150p mx-2 mt-2" href="{{ s.cta-url }}">{{ s.cta-text }}</a>
        {% if s.cta-url-2 != blank %}
        <a class="btn {{ s.cta-style-2 }} w-150p mx-2 mt-2" href="{{ s.cta-url-2 }}">{{ s.cta-text-2 }}</a>
        {%- endif -%}
      </div>
      {%- endif -%}
    </div>
  </div>
  <div class="tb__banner__overlay bg-secondary o-{{ s.overlay-opacity }} active"></div>
  {% if s.video == blank and s.video-mobile == blank %}
  <div class="tb__banner__image tb__image tb__image--16-9">
    <figure class="tb__image__placeholder">
      <picture>
        {% if s.image-mobile != blank %}
        <source data-srcset="{{ s.image-mobile | img_url: '575x' }}" media="(max-width: 575px)" />
        {%- endif -%}
        <source data-srcset="{{ s.image | img_url: '2000x' }}" media="(min-width: 576px)" />
        <img
          class="lazyload{% if s.image-animation %} no-animation{% endif %}"
          src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
          data-src="{{ s.image | img_url: '2000x' }}"
          alt="{{ s.title }}"
        />
      </picture>
    </figure>
  </div>
  {% endif %}
  {% if s.video != blank %}
  <div class="tb__banner__image tb__image align-items-center">
    <div class="tb__image__content top-auto d-none d-sm-flex justify-content-center" style="padding-top: calc((9 / 16) * 100%);">
      <iframe class="left-auto lazyload" data-src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url={{ s.video | url_encode }}&playsinline=1&poster=&time=false&progressBar=false&overlay=false&muteButton=false&fullscreenButton=false&style=light&quality=auto&playButton=false&buttonColor=%23FFFFFF&buttonSize=90&overlayColor=%23000000&overlayOpacity=0.3" frameborder="0" allowfullscreen scrolling="no" allow="autoplay;fullscreen"></iframe>
    </div>
    {% if s.video-mobile != blank %}
    <div class="tb__image__content d-flex d-sm-none justify-content-center" style="padding-top: calc((16 / 9) * 100%);">
      <iframe class="lazyload" data-src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url={{ s.video-mobile | url_encode }}&playsinline=1&poster=&time=false&progressBar=false&overlay=false&muteButton=false&fullscreenButton=false&style=light&quality=auto&playButton=false&buttonColor=%23FFFFFF&buttonSize=90&overlayColor=%23000000&overlayOpacity=0.3" frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen"></iframe>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>

{% schema %}
{
    "name": "Hero",
	"tag": "section",
	"class": "hero hero--main mb-5 mb-md-7 mb-lg-9 mb-xl-10",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "This is a <h1>-tag"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "header",
            "content": "Desktop content"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "video_url",
            "id": "video",
            "label": "Video",
            "info": "If video link is present, the image won't load",
            "accept": ["vimeo"]
        },
        {
          "type": "checkbox",
          "id":"image-animation",
          "default": true,
          "label": "Image animation"
        },
        {
            "type": "header",
            "content": "Mobile content"
        },
        {
            "type": "image_picker",
            "id": "image-mobile",
            "label": "Image"
        },
        {
            "type": "video_url",
            "id": "video-mobile",
            "label": "Video",
            "info": "If video link is present, the image won't load",
            "accept": ["vimeo"]
        },
        {
            "type": "header",
            "content": "Image overlay"
        },
        {
            "type": "range",
			"id": "overlay-opacity",
            "label": "Opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 20
        },
        {
            "type": "header",
            "content": "Call-To-Action"
        },
        {
            "type": "text",
            "id": "cta-text",
            "label": "Text for button",
            "info": "Leave this blank if you do not want a cta-button"
        },
        {
            "type": "url",
            "id": "cta-url",
            "label": "Link for button"
        },
        {
            "type": "select",
            "id": "cta-style",
            "label": "Style",
            "options": [
                {
                  "value": "btn-outline-white",
                  "label": "White Outline"
                },
                {
                  "value": "btn-white",
                  "label": "White Solid"
                },
                {
                  "value": "btn-primary",
                  "label": "Primary Solid"
                }
            ],
			"default": "btn-outline-white"
        },
        {
            "type": "header",
            "content": "Extra Call-To-Action"
        },
        {
            "type": "text",
            "id": "cta-text-2",
            "label": "Text for button"
        },
        {
            "type": "url",
            "id": "cta-url-2",
            "label": "Link for button"
        },
        {
            "type": "select",
            "id": "cta-style-2",
            "label": "Style",
            "options": [
                {
                  "value": "btn-outline-white",
                  "label": "White Outline"
                },
                {
                  "value": "btn-white",
                  "label": "White Solid"
                },
                {
                  "value": "btn-primary",
                  "label": "Primary Solid"
                }
            ],
			"default": "btn-outline-white"
		}
	],
    "presets": [
        {
            "name": "Hero",
            "category": "hero"
        }
    ]
}
{% endschema %}
