<div class="section-container">
  <div class="main_wrapper">
    {% for block in section.blocks %}
      <div class="block-item d-flex {% if block.settings.bg_grey %}bg_dark{% endif %}" id="block-{{ forloop.index }}">
        <div class="block_wrapper d-flex {% if block.settings.img_pos == 'right' %}reverse{% endif %}">
          <div class="image_wrapper">
            <img data-src="{{ block.settings.image | img_url: '480x' }}" class="lazyload">
          </div>
          <div class="content_wrapper">
            <div class="block_title">{{ block.settings.title }}</div>
            <div class="block_text">{{ block.settings.text }}</div>
          </div>
        </div>
        {% if block.settings.show_scroll %}
          <div class="page-scroll" data-target="block-{{ forloop.index | plus: 1 }}">
            {% if block.settings.bg_grey %}
              {% render 'icon' with 'icon-arrow-white' %}
            {% else %}
              {% render 'icon' with 'icon-arrow-grey' %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(document).on('click', '.page-scroll', function() {
      var target_id = $(this).attr('data-target');
      var $target = $("#" + target_id);

      var pos = $target.offset().top - $("header").outerHeight();
      $("html, body").animate({
        'scrollTop': pos
      }, 300);
    })
  })
</script>

{% schema %}
{
  "name": "Image with text block",
  "class": "image-with-text-block",
  "settings": [],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "checkbox",
          "id": "bg_grey",
          "label": "Background dark"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "id": "img_pos",
          "label": "Image alignment"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "show_scroll",
          "label": "Show scroll button",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}