{% assign groups = section.settings.groups | split: "|" %}
<div class="container-fluid mt-4">
  <div class="row mb-6 mb-md-9">
    <div class="col-md-4 col-lg-3">
      <h1 class="sticky-top" style="top: 80px;">{{ page.title }}</h1>
    </div>
    <div class="col-md-8 col-lg-6">
      {% assign group_num = 1 %}
      {% for group in groups %}
      {% assign faq_num = 1 %}
      <h3 class="mb-md-4{% if group_num > 1 %} mt-5 mt-md-7{% else %} mt-md-2{% endif %}">{{ group }}</h3>
      <div id="faq_group_{{ group_num }}" class="ml-lg-4">
        {%- for faq in section.blocks -%}
        {% if faq.settings.group == group %}
        {% if faq_num > 1 %}
        <hr>
        {% endif %}
        <h6 class="mb-0{% if faq_num > 1 %} collapsed{% endif %}" data-toggle="collapse" data-target="#faq_{{ group_num }}_{{ faq_num }}">
          {{ faq_num }}. {{ faq.settings.question }}
        </h6>
        <div class="collapse{% if faq_num == 1 %} active{% endif %}" id="faq_{{ group_num }}_{{ faq_num }}">
          <div class="pt-3">
            {{ faq.settings.answer }}
          </div>
        </div>
        {% assign faq_num = faq_num | plus: 1 %}
        {% endif %}
        {% endfor %}
      </div>
      {% assign group_num = group_num | plus: 1 %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ page",
  "settings": [
    {
      "type": "textarea",
      "id": "groups",
      "label": "Groups",
      "info": "Separate groups with a pipe (|) sign."
    }
  ],
  "blocks": [
    {
      "type": "faqs",
      "name": "FAQs",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        },
        {
          "type": "text",
          "id": "group",
          "label": "Group"
        }
      ]
    }
  ]
}
{% endschema %}