{%- assign s = section.settings -%}
<div class="hero hero--main">
  <div class="tb__banner flex-fill">
    {% if s.row_1_text %}
    <div class="tb__banner__text align-items-center justify-content-center w-md-50 mx-auto px-3 text-center">
      {{ s.row_1_text }}
    </div>
    {%endif%}
    <div class="tb__banner__image tb__image">
      <picture class="tb__image__placeholder" aria-hidden="true">
        {% if s.row_1_image_mobile != blank %}
        <source data-srcset="{{ s.row_1_image_mobile | img_url: '575x575' }}" media="(max-width: 575px)" />
        {%- endif -%}
        <source data-srcset="{{ s.row_1_image | img_url: '2000x' }}" media="(min-width: 576px)" />
        <img
          class="lazyload"
          src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
          data-src="{{ s.row_1_image | img_url: '2000x' }}"
          alt="{{ s.row_1_image.alt }}"
        />
      </picture>
    </div>
  </div>
</div>

<div class="hero hero--main my-md-4" style="--exclude: 110;">
  <div class="row no-gutters">
    <div class="col-md-6 align-items-center justify-content-start px-3 px-md-4 py-5 font-16 font-md-18">
      {% if s.row_2_text %}
      {{ s.row_2_text }}
      {%endif%}
    </div>
    <div class="col-md-6 mx-3 mx-md-0 pr-md-4">
      <div class="tb__image tb__image--{{ s.row_2_image_fit }} hmax-visible">
        <picture class="tb__image__placeholder" aria-hidden="true" style="padding-top: calc(510/345 * 100%);">
          {% if s.row_2_image_mobile != blank %}
          <source data-srcset="{{ s.row_2_image_mobile | img_url: '575x575' }}" media="(max-width: 575px)" />
          {%- endif -%}
          <source data-srcset="{{ s.row_2_image | img_url: '2000x' }}" media="(min-width: 576px)" />
          <img
               class="lazyload"
               src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
               data-src="{{ s.row_2_image | img_url: '2000x' }}"
               alt="{{ s.row_2_image.alt }}"
               />
        </picture>
      </div>
    </div>
  </div>
</div>

<div class="hero hero--main my-md-4" style="--exclude: 110;">
  <div class="row no-gutters">
    <div class="col-md-6 order-md-1 align-items-center justify-content-start px-3 px-md-4 py-5 font-16 font-md-18">
      {% if s.row_3_text %}
      {{ s.row_3_text }}
      {% endif %}
    </div>
    <div class="col-md-6 mx-3 mx-md-0 pl-md-4">
      <div class="tb__image tb__image--{{ s.row_3_image_fit }} hmax-visible">
        <picture class="tb__image__placeholder" aria-hidden="true" style="padding-top: calc(510/345 * 100%);">
          {% if s.row_3_image_mobile != blank %}
          <source data-srcset="{{ s.row_3_image_mobile | img_url: '575x575' }}" media="(max-width: 575px)" />
          {%- endif -%}
          <source data-srcset="{{ s.row_3_image | img_url: '2000x' }}" media="(min-width: 576px)" />
          <img
               class="lazyload"
               src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
               data-src="{{ s.row_3_image | img_url: '2000x' }}"
               alt="{{ s.row_3_image.alt }}"
               />
        </picture>
      </div>
    </div>
  </div>
</div>

{% if s.row_4_text != blank %}
<div class="mt-5 mt-md-8" style="--exclude: 50;">
  {{ s.row_4_text }}
</div>
{% endif %}

{% schema %}
{
  "name": "About page",
  "tag": "section",
  "class": "page-sustainability",
  "settings": [
    {
      "type": "header",
      "content": "Row 1"
    },
    {
      "type": "html",
      "id": "row_1_text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "row_1_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "row_1_image_mobile",
      "label": "Background image (mobile)"
    },
    {
      "type": "header",
      "content": "Row 2"
    },
    {
      "type": "html",
      "id": "row_2_text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "row_2_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "row_2_image_mobile",
      "label": "Image (mobile)"
    },
    {
      "type": "select",
      "id": "row_2_image_fit",
      "label": "Image fit",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "scale",
          "label": "Scale down"
        }
	  ],
      "default": "cover"
	},
    {
      "type": "header",
      "content": "Row 3"
    },
    {
      "type": "html",
      "id": "row_3_text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "row_3_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "row_3_image_mobile",
      "label": "Image (mobile)"
    },
    {
      "type": "select",
      "id": "row_3_image_fit",
      "label": "Image fit",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "scale",
          "label": "Scale down"
        }
	  ],
      "default": "cover"
	},
    {
      "type": "header",
      "content": "Row 4"
    },
    {
      "type": "html",
      "id": "row_4_text",
      "label": "Text"
    }
  ]
}
{% endschema %}