{%- assign s = section.settings -%}
<div class="container-fluid d-flex flex-column align-self-stretch flex-fill h-auto px-0">
  <div class="row no-gutters flex-fill">
    <div class="col-md flex-column">
      <div class="tb__banner flex-fill">
        <div class="tb__banner__overlay bg-secondary o-20 active"></div>
        <div class="tb__banner__image tb__image">
          <picture class="tb__image__placeholder" aria-hidden="true" style="padding-top: calc(230/375 * 100%);">
            {% if s.image_bg_mobile != blank %}
            <source data-srcset="{{ s.image_bg_mobile | img_url: '575x575' }}" media="(max-width: 575px)" />
            {%- endif -%}
            <source data-srcset="{{ s.image_bg | img_url: '2000x' }}" media="(min-width: 576px)" />
            <img
              class="lazyload"
              src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
              data-src="{{ s.image_bg | img_url: '2000x' }}"
              alt="{{ s.image_bg.alt }}"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6 align-items-center px-3 px-md-4 py-4 py-md-6">

      <h1 class="display-1 mb-3 mb-md-4">{{ page.title }}</h1>

      {% if s.text-above != blank %}
      <div class="text-block mb-3 mb-md-4">
        {{ s.text-above }}
      </div>
      {% endif %}

      <div class="row">
        <div class="col-xxl-6">
          <form class="mb-4 mb-lg-5" data-toggle="return-form">

            {% comment %}
            <div class="alert alert-success d-none" aria-hidden="true">
              <p>{{ 'contact.form.successfully_sent' | t }}</p>
            </div>

            <div class="alert alert-danger d-none text-center">
              <p>Alert</p>
            </div>
            {% endcomment %}

            <div class="form-group mb-3">
              <input type="text" class="form-control" name="order_number" aria-label="{{ 'contact.form.order-num' | t }}" placeholder="{{ 'contact.form.order-num' | t }}" required>
            </div>

            <div class="form-group mb-3">
              <input type="email" class="form-control" name="email" aria-label="{{ 'contact.form.email' | t }}" placeholder="{{ 'contact.form.email' | t }}" required {% if customer %}value="{{ customer.email }}"{% endif %}>
            </div>

            {%- for block in section.blocks -%}
            {%- assign field_title = block.settings.title -%}

            {%- if field_title == blank -%}
            {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
            {%- endif -%}

            {%- if block.type == 'text' -%}
            <div class="form-group mb-3">
              {%- if block.settings.use_long_text -%}
              <textarea name="contact[{{ field_title | escape }}]" cols="30" rows="10" class="form-control" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
              {%- else -%}
              <input type="text" class="form-control" name="{{ field_title | escape }}" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}>
              {%- endif -%}
            </div>

            {%- elsif block.type == 'dropdown' -%}
            {%- assign values = block.settings.values | split: ',' -%}
            {%- if values == empty -%}
            {%- continue -%}
            {%- endif -%}
            <div class="form-group mb-3">
              <select class="custom-select" name="return[{{ field_title | escape }}]" title="{{ block.settings.title | escape }}" required>
                <option value="" disabled selected>{{ block.settings.title | escape }}</option>
                {%- for value in values -%}
                {%- assign trim_value = value | strip -%}
                <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                {%- endfor -%}
              </select>
            </div>
            {%- endif -%}
            {%- endfor -%}

            <button class="btn btn-secondary btn-block tb__loading tb__loading--loaded" type="submit">
              <span class="tb__loading__bar w-20p h-20p"></span>
              <span>{{ 'contact.form.submit_return' | t }}</span>
            </button>
          </form>
        </div>
      </div>

      {% if s.text-below != blank %}
      <div class="text-block mt-3 mt-md-4">
        {{ s.text-below }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    function objectifyForm(formArray) {
        var returnArray = {};

      	for (var i = 0; i < formArray.length; i++){
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }

      	return returnArray;
    }

    $(document).ready(function() {
      $('[data-toggle="return-form"]').on('submit', function(e) {
        e.preventDefault();

        const $form = $(this),
              data  = objectifyForm($form.serializeArray()),
        	  static = {
                "labels": [
                    16
                ]
              }

        $.ajax({
            url: "https://api.traede.com/api/orders/request-b2c-return-freight",
            type: "POST",
            dataType: "json",
            data: Object.assign(data,static),
            headers: {"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiYTYwZDY3M2JiMzhjMzMwZWFmMDFjZmUwODVmMGQ0NzZiZTM1ZjkyZGE4ODc3OWYwZGQyY2EwMzRkMWRiMDExYzJhN2UxY2ZmY2RjMzM1ZTYiLCJpYXQiOjE2MzgyNjA4MTAuNTY2MjksIm5iZiI6MTYzODI2MDgxMC41NjYyOTYsImV4cCI6MTc0MTY3MTUyMTAuNDQ3MzE1LCJzdWIiOiI0NTI1MyIsInNjb3BlcyI6W119.Ii0Ded2JrqzEaoErDlXNfQY_zWOR1D9dSkYEgkHfaTS4rZdjK5eenuVIMvQWRSqsJizkxGezjLn3GjO8fFX6SaI7WbhBstDPONLgJE1oAtFyok73qhXw-dVF-HRUgmustHVTJ1-JA9j3_mZeF1h-dKpPEMtEi7nIvnNDE-AzMAUhmjcl7gnuJgcK20SQKcAp1aYM_KhnuN2x7Czc1oqm-MWhWCOiJM8ttTJYpkWIA1Xnwb9ngLM-b9YW3M4W5bzxV2Q_fO0Alleadkm1hQZ-cKtAUqb-fvhbivqV8loXnSV9-1NHsYVSajSW9Apsnb-qt3ZdYLEtReMkarUs182E03RyMoqgmIXts7RM84rgUMWa7RYPka5sRR_HstS-93dNNCCKhgqDvPiZQUfZYyl84pNT7df5AleZIbnGGQTQZTkvmNzlsuhprbgidcC_XJtPrkYHlz4ihxUww1gl7d9YL0w3r862keSLE1eCwTpQC7g7y3As0WWiatduTb1wtmXHwbRr6aZwa4FfcBMI4B6xePi73kXo2XCUbvtJM2c5eM6nAr2Oh8NIBKZcTuVhHKQGYZSfZThiVjNTDZPsqi3lGbPCfy0ErMQor6nTAd2B_hE_tst-zLRejIR6EAwi9K982_bKZQjdY263OWjTMJRs0z-YQDGhRlzQoxO7n29nPfU"},
            beforeSend: function() {
              $form.find('[type="submit"]').removeClass('tb__loading--loaded');
              $form.find('.alert').remove();
			},
            complete: function(response) {
              let json;

              $form.find('[type="submit"]').addClass('tb__loading--loaded');

              if (response.status === 404 || response.status === 500) {
                json = JSON.parse(response.responseText);

                $form.prepend(`<div class="alert alert-danger d-flex align-items-center justify-content-center hmin-40p py-1 text-center"><p>${json.errors[0].detail}</p></div>`);
              }
              else {
                $form.prepend(`<div class="alert alert-success d-flex align-items-center justify-content-center hmin-40p py-1 text-center"><p>{{ 'contact.return.message_success' | t}}</p></div>`);
              }
            }
        });
      });
    });
  });
</script>

{% schema %}
{
  "name": "Return page",
  "class": "hero hero--main d-flex",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "text-above",
      "label": "Text above form"
    },
    {
      "type": "richtext",
      "id": "text-below",
      "label": "Text below form"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "image_bg_mobile",
      "label": "Background image (mobile)"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text field",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "checkbox",
          "id": "use_long_text",
          "label": "Use long text",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "is_required",
          "label": "Field is required",
          "default": false
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "Values",
          "info": "Separate each value by a comma.",
          "default": "value 1, value 2, value 3"
        }
      ]
    }
  ]
}
{% endschema %}