{%- assign s = section.settings -%}
<div class="hero hero--main">
  <div class="tb__banner flex-fill">
    {% if s.row_1_text %}
    <div class="tb__banner__text align-items-center justify-content-center w-md-50 mx-auto px-3 text-center">
      {{ s.row_1_text }}
    </div>
    {%endif%}
    <div class="tb__banner__image tb__image">
      <picture class="tb__image__placeholder" aria-hidden="true">
        {% if s.row_1_image_mobile != blank %}
        <source data-srcset="{{ s.row_1_image_mobile | img_url: '575x575' }}" media="(max-width: 575px)" />
        {%- endif -%}
        <source data-srcset="{{ s.row_1_image | img_url: '2000x' }}" media="(min-width: 576px)" />
        <img
          class="lazyload"
          src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
          data-src="{{ s.row_1_image | img_url: '2000x' }}"
          alt="{{ s.row_1_image.alt }}"
        />
      </picture>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "BOC Hafnia page",
  "tag": "section",
  "class": "page-sustainability",
  "settings": [
    {
      "type": "header",
      "content": "Row 1"
    },
    {
      "type": "html",
      "id": "row_1_text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "row_1_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "row_1_image_mobile",
      "label": "Background image (mobile)"
    }
  ]
}
{% endschema %}