<div class="section_container container-fluid">
  <div class="main_wrapper d-flex">
    <div class="image_wrapper">
      <img data-src="{{ section.settings.image | img_url: '800x' }}" class="lazyload">
    </div>
    <div class="text_wrapper">
      <div class="title">{{ page.title }}</div>
      <div class="content">{{ page.content }}</div>
      <div class="form-wrapper">
        {%- form 'contact' -%}

          {%- if form.posted_successfully? -%}
            <div class="alert alert-success">
              <p>{{ 'contact.form.successfully_sent' | t }}</p>
            </div>
          {%- endif -%}

          {%- if form.errors -%}
            <div class="alert alert-danger">
              <ul class="list list-arrow">
                {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                <li>{{ form.errors.messages[field] }}</li>
                {%- else -%}
                <li><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}

          <div class="form-field">
            <input type="text" name="contact[name]" placeholder="Name">
          </div>
          <div class="form-field">
            <input type="text" name="contact[email]" placeholder="Email">
          </div>
          <div class="form-field">
            <input type="text" name="contact[order_number]" placeholder="Order Number (optional)">
          </div>
          <div class="form-action">
            <button type="submit">Submit</button>
          </div>
        {% endform %}
      </div>
      {% if section.settings.custom_content != blank %}
        <div class="custom_content">{{ section.settings.custom_content }}</div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Main",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "html",
      "id": "custom_content",
      "label": "Custom content"
    }
  ]
}
{% endschema %}