{%- capture background_image_url -%}
  {%- if section.settings.background_image -%}
    {{- section.settings.background_image | img_url: '1500x', format: 'pjpg' -}}
  {%- else -%}
    {{- 'password.jpg' | asset_img_url: '1500x', format: 'pjpg' -}}
  {%- endif -%}
{%- endcapture -%}


<div class="container py-8 px-6 px-md-12">
<div class="row mt-2" style="background-color: #fff;">
  <div class="col-12 col-lg-6 p-0 mt-0 d-none d-lg-block">
    <div class="position-absolute bottom-0 start-0 px-6 py-10" style="z-index: 1">
      <h1 class="text-orange text-uppercase mb-1" style="font-size: 70px;line-height: 70px">Black<br/>Friday</h1>
      <h3 class="text-orange text-uppercase" style="font-size: 22px;line-height: 30px;">Save 20-60% on <br/>selected items</h3>
    </div>
    <img src="{{ section.settings.background_image | img_url: '1000x' }}" class="col-image p-0">
  </div>
  <div class="col-12 col-lg-6 py-6 px-lg-6 px-md-6 px-xl-8 py-lg-8 py-xl-10 mt-0 text-center" style="background-color: #171717">

    <h3 class="text-white text-uppercase" style="font-weight:normal">Black Friday</h3>
    <h2 class="text-uppercase text-white" style="font-size: 55px;line-height: 55px;">Early Access</h2>
    <h4 class="text-orange text-uppercase"style="font-weight:normal">Family members only</h4>
    <p class="text-white m-3">Black Friday Early Access for family members only.
      November 25 - 22:00-23:59. If you’re a family member,
      your access code has been sent to you in an email tonight at 22:00.
    </p>
    <p class="text-white mt-2 mb-4">Enter your access code below</p>
    
    
    <div id="modal-password" class="Password__Modal Modal Modal--fullScreen" aria-hidden="true" role="dialog" data-scrollable>
  <div class="Modal__Content">
    <div class="Password__Content">
      <div class="Password__Card">

        {%- form 'storefront_password', class: 'Password__Form Form Form--spacingTight Form--small', id: 'modal-password' -%}
          {%- if form.errors -%}
            <p class="Alert Alert--error">{{ form.errors.messages['form'] }}</p>
          {%- endif -%}

          <div class="Form__Group">
            <input type="password" class="Form__Input" name="password" placeholder="Enter access code" aria-label="{{ 'general.password.password_input' | t }}" autofocus>
            <button type="submit" name="commit" class="Button Button--primary Button--small">UNLOCK EARLY ACCESS</button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
        <p class="text-white my-5" style="font-size: 14px;">NB! If you’re not a family member, you can’t access the BLS Hafnia website until November 25 - 23:59, when Black Friday starts.
          If you have any questions, please contact us on <a href="mailto:support@blshafnia.com" style="color: #FF8D46;">support@blshafnia.com</a>.
    </p>
  </div>
</div>
  </div>
  

<style>
  .Password__Header .Heading,
  .Password__Footer .Heading {
    color: {{ section.settings.text_color }};
  }

  {%- if section.settings.logo -%}
    @media screen and (max-width: 640px) {
      .Password__LogoImage {
        max-width: {{ section.settings.mobile_logo_max_width }}px;
      }
    }
  {%- endif -%}
</style>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "200 x 60px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 350,
      "step": 5,
      "unit": "px",
      "label": "Logo image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo image width",
      "default": 90
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Custom background image",
      "info": "1500 x 1500px .jpg recommended"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "header",
      "content": "Newsletter signup"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter_signup",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    },
    {
      "type": "header",
      "content": "Social sharing"
    },
    {
      "type": "checkbox",
      "id": "show_social_sharing",
      "label": "Show social sharing",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social message",
      "default": "Spread the word"
    }
  ]
}
{% endschema %}