{{ section.settings.tp-widget }}

{% schema %}
{
  "name": "Product rating",
  "class": "product-rating mb-4 mb-lg-5",
  "settings": [
    {
      "type": "html",
      "id": "tp-widget",
      "label": "Trustpilot"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.trustpilot-widget-product iframe {
	width: 240px !important;
}
{% endstylesheet %}
