{% assign s = section.settings %}

<main id="shop" class="products products--vue tb__loading" :class="{ 'tb__loading--loaded': showPage }">
  <div class="tb__loading__bar"></div>
  <div class="products__filter mb-3 mb-md-4">
    <div class="container-fluid">
      <ul class="nav" data-toggle="menu">
        <li class="nav-item dropdown dropdown-megamenu">
          <a class="nav-link dropdown-toggle px-0" href="javascript:;">Filter</a>
          <div class="dropdown-menu p-0" ref="filter_menu">
            <div class="row no-gutters">
              {%- if s.collections_filter != blank -%}
              {%- assign collections_filter = linklists[s.collections_filter] -%}
              <div class="col-md p-4">
                <div>
                  <h6>Collections</h6>
                  <div>
                    {% for link in collections_filter.links %}
                    <label class="custom-control custom-checkbox mb-0">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        v-model="checkedFilters.collection"
                        value="{{ link.handle }}"
                        v-on:change="toggleFilter('collection', '{{ link.handle }}', '{{ link.title }}')"
                      >
                      <span class="custom-control-label">{{ link.title }}</span>
                    </label>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {%- endif -%}
              {%- if s.categories_filter != blank -%}
              {%- assign categories_filter = linklists[s.categories_filter] -%}
              <div class="col-md p-4">
                <div>
                  <h6>Category</h6>
                  <div class="tb__multicolumn tb__multicolumn--2 tb__multicolumn--100p">
                    {%- for link in categories_filter.links -%}
                    <label class="custom-control custom-checkbox mb-0">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        v-model="checkedFilters.category"
                        value="{{ link.handle }}"
                        v-on:change="toggleFilter('category', '{{ link.handle }}', '{{ link.title }}')"
                      >
                      <span class="custom-control-label">{{ link.title }}</span>
                    </label>
                    {%- endfor -%}
                  </div>
                </div>
              </div>
              {%- endif -%}
              <div class="col-md p-4">
                <div>
                  <h6>Size</h6>
                  <div class="tb__multicolumn tb__multicolumn--2 tb__multicolumn--100p">
                    <label
                      class="custom-control custom-checkbox mb-0"
                      v-for="(option, index) in generatedFilters.size"
                    >
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        v-model="checkedFilters.size"
                        :value="option"
                        v-on:change="toggleFilter('size', option)"
                      >
                      <span class="custom-control-label">{% raw %}{{ option }}{% endraw %}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md p-4">
                <div>
                  <h6>Color</h6>
                  <div class="tb__multicolumn tb__multicolumn--2 tb__multicolumn--100p">
                    <label
                      class="custom-control custom-checkbox mb-0"
                      v-for="(option, index) in generatedFilters.color"
                    >
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        :value="option"
                        v-model="checkedFilters.color"
                        v-on:change="toggleFilter('color', option)"
                      >
                      <span class="custom-control-label">{% raw %}{{ option }}{% endraw %}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="products__filter__selected ml-auto d-flex">
          <button
            class="btn btn-sm btn-outline-secondary ml-2"
            type="button"
            v-for="button in filterNav"
            @click="toggleFilter(button.type, button.value)"
          >
            {% raw %}{{ button.name }}{% endraw %}
            <span class="tb__icon tb__icon--stroke-light ml-1 mr-n1">
              <svg width="12" height="12"><use xlink:href="#icon--x"></use></svg>
            </span>
          </button>
          <button
            class="btn btn-sm btn-secondary w-100p ml-2"
            @click="clearAllFilters()"
            type="button"
            v-if="filterNav.length"
          >
            Clear All
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="products__list">
    <div class="container-fluid">
      <div class="row row-gutx-separate row-guty-4">
        <div
          class="col-6 col-lg-4 col-xxl-3 lazyload appear-opacity"
          data-expand="-50"
          v-for="product in paginated"
        >
          <div class="product tb__hover">
            <a :href="product.permalink" class="product-image mb-md-4">
              <div class="tb__image tb__hover__front" :class="{ 'tb__hover__front': product.imageHover }">
                <figure :style="{ paddingTop: 'calc(' + product.imageRatio + '* 100%)' }">
                  <img :src="product.image" alt="" />
                </figure>
              </div>
              <div class="tb__hover__back tb__hover__fade-in w-100" v-if="product.imageHover">
                <div class="tb__image">
                  <figure :style="{ paddingTop: 'calc(' + product.imageRatio + '* 100%)' }">
                    <img :src="product.imageHover" alt="" />
                  </figure>
                </div>
              </div>
              <span class="tb__icon tb__icon--solid tb__icon--discount" v-if="product.comparePrice">
                {% raw %}
                  {{ product.save }}%
                {% endraw %}
                {% comment %}<svg width="24" height="24"><use xlink:href="#icon--discount"></use></svg>{% endcomment %}
              </span>
              <span class="tb__icon tb__icon--solid tb__icon--organic" v-if="product.traede.material == '100% Organic Cotton'">
                <svg width="24" height="24"><use xlink:href="#icon--organic-simple"></use></svg>
              </span>
            </a>
            <p class="product-name"><a :href="product.permalink">{% raw %}{{ product.title }}{% endraw %}</a></p>
            <p class="product-price">
              <span class="price" :class="{ 'price--new': product.comparePrice }">{% raw %}{{ product.price }}{% endraw %}</span>
              <span class="price price--old" v-if="product.comparePrice">{% raw %}{{ product.comparePrice }}{% endraw %}</span>
            </p>
            <div class="product-options tb__hover__back tb__hover__fade-in position-static mt-2" v-if="product.available == false && !product.variants">
              <p class="product-status"><span class="font-weight-500 font-14">{{ 'product.labels.out_of_stock' | t }}</span></p>
            </div>
            <div class="product-options tb__hover__back tb__hover__fade-in position-static mt-2" v-if="product.variants">
              <ul class="list-unstyled d-flex mx-n2 my-n1">
              	<li class="mx-2 my-1 small" v-for="variant in product.variants">
                  <span :class="{ 'o-20': !variant.available }">{% raw %}{{ variant.option1 }}{% endraw %}</span>
                </li>
              </ul>
              <div class="d-flex mt-3">
                <template v-for="color in product.colors">
                  <a class="tb__image" style="width: 80px;" :href="color.url">
                    <figure :style="{ paddingTop: 'calc(' + product.imageRatio + '* 100%)' }">
                      <img :src="color.image" alt="" />
                    </figure>
                  </a>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 mt-md-4 mt-lg-5 text-center">
        <p>{{ 'collection.pagination.results' | t }}</p>
        <button
          class="btn btn-outline-secondary"
          @click="currentPage++"
          type="button"
          v-if="showPagination"
        >{{ 'collection.pagination.more' | t }}</button>
      </div>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script>
new Vue({
  el: '#shop',
  components: {
    //
  },

  data() {
    return {
      modal: false,
      filterMenuShow: false,
      companies: [],
      products: [],
      dropdown: { height: 0 },
      rating: { min: 10, max: 0 },
      generatedFilters: { collection: [], category: [], size: [], color: [] },
      checkedFilters: { collection: [], category: [], size: [], color: [] },
      filterNav: [],
      currentPage: 1,
      itemsPerPage: {{s.products-per-page}},
    }
  },

  computed: {
    filtered() {
      const filteredProducts = this.products.filter(({ collections, tags, variants }) => {
        let show = false;

        if (
          (!this.checkedFilters.collection.length || collections.filter(value => this.checkedFilters.collection.includes(value)).length)
          && (!this.checkedFilters.category.length || collections.filter(value => this.checkedFilters.category.includes(value)).length)
          && (!this.checkedFilters.size.length  || variants && variants.filter(variant => this.checkedFilters.size.includes(variant.option1) && variant.available).length)
          && (!this.checkedFilters.color.length || tags.filter(tag => tag.startsWith('color_') && this.checkedFilters.color.includes(tag.split('_')[1])).length)
        ) {
          show = true
        }

        return show;
      });

      return filteredProducts;
    },

    paginated() {
      return this.filtered.slice(0, this.currentPage * this.itemsPerPage);
    },

    showPagination() {
      return (this.currentPage * this.itemsPerPage) < this.filtered.length;
    },

    showPage() {
      return this.products.length;
    }
  },

  watch: {
    //
  },

  methods: {
    toggleFilterMenu() {
      if (this.filterMenuShow) {
        this.dropdown.height = 0;
      } else {
        this.dropdown.height = this.$refs.filter_menu.children[0].clientHeight + 'px';
      }

      this.filterMenuShow = !this.filterMenuShow;
    },

    toggleFilter(type, value, name) {
      const index = this.filterNav.findIndex((filter) => {
        return filter.type === type && filter.value === value
      });

      if (name === undefined) {
        name = value;
      }

      if (index < 0) {
        this.filterNav.push({ type, value, name });
      }
      else {
        this.checkedFilters[type] = this.checkedFilters[type].filter(val => { return !(val == value) });
        this.filterNav.splice(index, 1);
      }
    },

    clearAllFilters() {
      this.checkedFilters = { collection: [], category: [], size: [], color: [] };
      this.filterNav = [];
      this.dropdown.height = 0;
      this.filterMenuShow = false;
      this.currentPage = 1;
    }
  },

  beforeMount() {
    fetch('/collections/all-products?view=ajax')
    .then(response => response.json())
    .then(products => {
      this.products = products;

      products.forEach(({ country, variants, tags, rating }) => {
        const sizes = variants ? variants
        .map(variant => {
          return variant.option1;
        }) : [];

        this.generatedFilters.size = [...new Set([...this.generatedFilters.size, ...sizes])];

        const colors = tags
        .filter(tag => {
          return tag.startsWith('color_');
        })
        .map(tag => {
          return tag.split('_')[1];
        });

        this.generatedFilters.color = [...new Set([...this.generatedFilters.color, ...colors])];
      });
    });


    this.generatedFilters.collection = [{%- for link in collections_filter.links -%}{% unless forloop.first %}, {% endunless %}{ handle: "{{ link.handle }}", title: "{{ link.title }}" }{% endfor %}];
    this.generatedFilters.category = [{%- for link in categories_filter.links -%}{% unless forloop.first %}, {% endunless %}{ handle: "{{ link.handle }}", title: "{{ link.title }}" }{% endfor %}];

    const path = window.location.pathname.replace(/^\/+|\/+$/g, '').split('/');

    if (path[0] == 'collections' && path[1] != 'all') {
	  this.generatedFilters.collection.forEach(filter => {
  		if (filter.handle == path[1]) {
          this.checkedFilters.collection.push(path[1]);
          this.toggleFilter('collection', path[1], filter.title);
        }
	  });
	  this.generatedFilters.category.forEach(filter => {
  		if (filter.handle == path[1]) {
          this.checkedFilters.category.push(path[1]);
          this.toggleFilter('category', path[1], filter.title);
        }
	  });
    }
  },

  mount() {
  }
});
</script>

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "collection mb-5 mb-md-7 mb-lg-9 mb-xl-10",
  "settings": [
    {
      "type": "link_list",
      "id": "collections_filter",
      "label": "Collections Filter"
    },
    {
      "type": "link_list",
      "id": "categories_filter",
      "label": "Categories Filter"
    },
    {
      "type": "range",
      "id": "products-per-page",
      "label": "Products per page",
      "min": 4,
      "max": 24,
      "step": 4,
      "default": 12
    }
  ]
}
{% endschema %}

