{% assign currentArticle = article %}

<div class="article-body">
  <div class="container-fluid">
    <div class="w-xl-50">
      <p class="mb-2 small text-center text-lg-left text-uppercase">{{ article.created_at | date: format: 'default' }}</p>
      <h1>{{ article.title }}</h1>
      {{ article.content }}
    </div>
  </div>
</div>

<div class="post-related mt-4 mt-lg-0">
  <div class="container-fluid">
    <h3 class="my-md-4 my-lg-6 my-xl-11 text-center">{{ 'blog.general.latest_posts' | t }}</h3>
    <div class="row row-gutx-separate">
      {%- assign latestArticlesLimit = 2 -%}
      {%- for article in blog.articles limit: 2 -%}
      {%- if article.id == currentArticle.id -%}
      {%- assign latestArticlesLimit = 3 -%}
      {%- endif -%}
      {%- endfor -%}

      {% for article in blog.articles limit: latestArticlesLimit %}
      {% if article.id != currentArticle.id %}
      <div class="col-md-6 col-xl-3">
        {%- render 'article-item', article: article -%}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article page",
  "tag": "article",
  "class": "article-single my-4 my-lg-6",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_article_image",
      "label": "Show article image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show article date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    }
  ]
}
{% endschema %}