{%- assign s = section.settings -%}
<div class="container lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  <div class="row">
    {%- if s.markup -%}
    <div class="col-lg">
      {{ s.markup }}
    </div>
    {%- endif -%}
    {% if false %}
    <div class="col-lg">
      <div class="carousel">
        <div
          class="swiper-container show row"
          data-toggle="carousel"
          data-space-between="30"
          data-slides-per-view="1"
          data-breakpoints="{
	   	    576: {
			  slidesPerView: 2,
			  spaceBetween: 30
		    },
			992: {
			  slidesPerView: 3,
			  spaceBetween: 30
            },
			1440: {
			  slidesPerView: 4,
			  spaceBetween: 30
			}
		  }"
          data-pagination="false"
          data-nav-container-class="swiper-nav d-none d-md-flex"
        >
          {%- for block in section.blocks -%}
          {%- assign b = block.settings -%}
          {%- assign link = b.url | default: s.global_url -%}
          <div class="col">
            <figure class="review">
              <div class="review-rating">
                <svg><use xlink:href="#star-trustpilot"></use></svg>
                <svg><use xlink:href="#star-trustpilot"></use></svg>
                <svg><use xlink:href="#star-trustpilot"></use></svg>
                <svg><use xlink:href="#star-trustpilot"></use></svg>
                <svg><use xlink:href="#star-trustpilot"></use></svg>
              </div>
              <p class="review-date">{{ b.date }}</p>
              <blockquote cite="#">
                <h5>{{ b.title }}</h5>
                <p>{{ b.description }}</p>
              </blockquote>
              <figcaption><cite><a href="{{ link }}" target="_blank">{{ b.name }}</a></cite></figcaption>
            </figure>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
   "name":"Trustpilot Slider",
   "class":"featured-reviews my-4 my-md-6 my-lg-8",
   "tag":"section",
   "settings":[
      {
         "type":"header",
         "content":"Global Settings"
      },
      {
         "type":"text",
         "id":"title",
         "label":"Title"
      },
      {
         "type":"url",
         "id":"global_url",
         "label":"Link",
         "info":"Link for Trustpilot"
      },
      {
         "type":"html",
         "id":"markup",
         "label":"Trustpilot widget",
         "info":"This widget is only visible on mobile"
      }
   ],
   "blocks":[
      {
         "type":"quote",
         "name":"Review",
         "settings":[
            {
               "type":"text",
               "id":"title",
               "label":"Title"
            },
            {
               "type":"textarea",
               "id":"description",
               "label":"Description"
            },
            {
               "type":"text",
               "id":"name",
               "label":"Name"
            },
            {
               "type":"text",
               "id":"date",
               "label":"Date"
            },
            {
               "type":"url",
               "id":"url",
               "label":"Link",
               "info":"Leave this blank, if it should just link to global link"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Trustpilot slider",
         "category":"Reviews"
      }
   ]
}
{% endschema %}