{% comment %}
-----------------------------
   SETTINGS
-----------------------------
{% endcomment %}

{%- capture image_size -%}
{{- settings.blog-listing__image-width }}x{{ settings.blog-listing__image-height -}}
{%- endcapture -%}
{%- capture image_ratio -%}
{{- settings.blog-listing__image-height }}/{{ settings.blog-listing__image-width -}}
{%- endcapture -%}

<div class="articles articles--grid my-3 my-md-4">
  <div class="container-fluid" data-paginate-content>
    {%- paginate blog.articles by 6 -%}
    <div class="row row-guty-4 row-gut-lg-separate">
      {%- for article in blog.articles -%}
      <div class="col-md-6">
        <div class="article">
          <a class="article-image tb__image" href="{{ article.url }}">
            <figure style="padding-top: calc({{ image_ratio }} * 100%);">
              <img class="lazyload slide-from-bottom" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ article.image | img_url: image_size }}" data-expand="-50" alt="{{ article.image.alt | escape }}" />
            </figure>
          </a>
          <h4 class="article-title display-4">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h4>
        </div>
      </div>
      {% endfor %}
    </div>
    {%- render 'pagination', paginate: paginate -%}
    {%- endpaginate -%}
  </div>
</div>
