{% layout none %}
{% paginate collections["all-products"].products by 1000 %}
[
  {% for product in collections["all-products"].products %}
  {% if product.metafields.traede.shopify_link_variant %}
  {%- capture color_group_products -%}
  {%- paginate collections["all"].products by 1000 -%}
  {%- for prod in collections["all"].products -%}
  {%- if prod.metafields.traede.shopify_link_variant == product.metafields.traede.shopify_link_variant -%}
  ,{"image": "{{ prod.media[0].src | img_url: '85x85', crop: 'center' }}", "name": "{{ prod.title }}", "url": "{{ prod.url }}"}
  {%- endif -%}
  {%- endfor -%}
  {%- endpaginate -%}
  {%- endcapture %}
  {%- assign color_group_products = color_group_products | remove_first: "," -%}
  {% endif %}
  {
    "available": {{ product.available }},
    "permalink": "{{ product.url }}",
    "title": "{{ product.title }}",
    {% if product.compare_at_price %}
    "comparePrice": "{{ product.compare_at_price | money_without_trailing_zeros }}",
    {% endif %}
    "save": "{% assign save_price = product.compare_at_price | minus: product.price %}{{ save_price | times: 100 | divided_by : product.compare_at_price | plus: 1 }}",
    "price": "{{ product.price | money_without_trailing_zeros }}",
    "image": "{{ product.images[0] | img_url: '600x600' }}",
	{% if product.images[1] %}
    "imageHover": "{{ product.images[1] | img_url: '600x600' }}",
	{% endif %}
    "imageRatio": "{{ settings.product-listing__image-height }}/{{ settings.product-listing__image-width }}",
    {%- if product.collections -%}
    "collections": [
      {% for collection in product.collections %}
      "{{ collection.handle }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    {%- endif %}
    {%- if product.tags -%}
    "tags": [
      {% for tag in product.tags %}
      "{{ tag }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    {%- endif %}
    "vendor": "{{ product.vendor }}",
	{% unless product.has_only_default_variant %}
    "variants": [{% for variant in product.variants %}{"id":{{ variant.id }},"title":"{{ variant.title | escape }}","option1":{% if variant.option1 %}"{{ variant.option1 | escape }}"{% else %}null{% endif %},"option2":{% if variant.option2 %}"{{ variant.option2 | escape }}"{% else %}null{% endif %},"option3":{% if variant.option3 %}"{{ variant.option3 | escape }}"{% else %}null{% endif %},"sku":{% if variant.sku %}"{{ variant.sku | escape }}"{% else %}null{% endif %},"requires_shipping":{{ variant.requires_shipping }},"taxable":{{ variant.taxable }},"featured_image":{% if variant.featured_image %}"{{ variant.featured_image }}"{% else %}null{% endif %},"available":{{ variant.available }},"name":"{{ variant.name }} | escape","public_title":"{{ variant.public_title }} | escape","options":{{ variant.options | json }},"price":{{ variant.price }},"weight":{% if variant.weight %}{{ variant.weight }}{% else %}0{% endif %},"compare_at_price":{% if variant.compare_at_price %}{{ variant.compare_at_price }}{% else %}null{% endif %},"inventory_quantity":{{ variant.inventory_quantity }},"inventory_management":{% if variant.inventory_management %}"{{ variant.inventory_management }}"{% else %}null{% endif %},"inventory_policy":{% if variant.inventory_policy %}"{{ variant.inventory_policy }}"{% else %}null{% endif %},"barcode":{% if variant.barcode %}"{{ variant.barcode }}"{% else %}null{% endif %}}{% unless forloop.last %},{% endunless %}{% endfor %}],
	{% endunless %}
	{% if product.metafields.traede.shopify_link_variant -%}
	"colors": [{{ color_group_products }}],
	{%- endif %}
  "traede": {{ product.metafields.traede | json }}
	{% comment %}"traede": {{ product.metafields.traede | replace: "=>", ":" }}{% endcomment %}
  }{% unless forloop.last %},{% endunless %}
  {% endfor %}
]
{% endpaginate %}