<div class="container-fluid mt-4">
  <div class="row mb-6 mb-md-9">
    <div class="col-md-4 col-lg-3">
      <h1 class="sticky-top" style="top: 80px;">{{ page.title }}</h1>
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="text-block mt-md-2">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
