<div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 h-100">
		
      <div style="padding-top: 125%; position: relative; overflow: hidden;"><iframe frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen" src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fcbs3jyx53nko32s%2FBLS_BLACKFRIDAY_21_BOX_POST_V5_10%2525.mp4%3Fraw%3D1&poster=&time=false&progressBar=false&overlay=false&muteButton=false&fullscreenButton=false&style=light&quality=auto&playButton=false" style="position: absolute; height: 100%; width: 100%; left: 0px; top: 0px;"></iframe></div>
    </div>
      <div class="col-md-6 col-lg-6 col-sm-12">
      <div class="p-xl-12 p-lg-8 p-md-4 p-sm-2 p-2">
        <div style="max-width:500px;margin: 0 auto;">
        {{ page.content }}
        </div>      
        </div>
    </div>
  </div>
</div>
