<style>
  .overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  .text-orange {
   color: #FF8D46;
  }
    .text-white {
   color: #FFF;
  }
  .col-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
  .Password__Card input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #171717;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #171717;
    width: 80%;
    padding: 10px;
    height: 40px;
  }
  .Password__Card button {
   background: #171717 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
    width: 80%;
    margin-top: 20px;
    color: #fff;
    height: 40px; 
    
  }
    
    .Password__Card button:hover {
   background: #fff 0% 0% no-repeat padding-box;
    color: #000;
    
  }
    
    
</style>
{%- section 'header' -%}
{%- layout 'password' -%}
{%- section 'password-template' -%}