{% paginate search.results by 10 %}
<div class="products__list my-5">
  <div class="container-fluid" data-paginate-content>
    <div class="row row-gutx-separate row-guty-4">
      {% for product in search.results %}
      <div class="col-6 col-lg-4 col-xxl-3 lazyload appear-opacity" data-expand="-50">
        {%- render 'product-item', product: product -%}
      </div>
      {% endfor %}
    </div>
    {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
    {%- endif -%}
  </div>
</div>
{% endpaginate %}
